# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/test-results
/playwright-report

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Vercel
.vercel

# Agents scratch
/.agents/

# SQLite
*.sqlite*
*.db*

# TypeScript
*.tsbuildinfo
next-env.d.ts
